#outer
{
    width: 1000px;
    margin: auto;

    height: 100vh;
    overflow: hidden;
}
#inner
{
 width: 5000px;
 position: relative;
 animation: akash 25s none infinite;
}
#inner img
{
float: left;
}
@keyframes akash
{
0%
{
left:0;
}
16%
{
left:0;
}
20%
{
left:-1000px;
}
36%
{
left:-1000px;
}
40%
{
left:-2000px;
}
56%
{

left:-2000px;
}
60%
{
left:-3000px;
}
76%
{
left:-3000px;
}
80%
{
left:-4000px;
}
96%
{
left:-4000px;
}
100%
{
left:-5000px; 
}
}
body
{
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none ;
}
.nav-links ul li ::after{
    content:'';
    margin: auto;
    width: 100%;
    height: 2px;
    background: #f44336;
}
.offer h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
.offer h1:hover{
    color: grey;
}
.offer ul{
    color: white;
    text-decoration: none;
    font-size: 24px;
    list-style: none;
    text-align: center;
}
.offer ul:hover{
    color: #f44336;
    transition-duration: 0.5s;
    transform-style: inherit;
}